{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar Tres</title>
    <link rel="stylesheet" href="{% static '/css/index-login.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' %}">
</head>

<body>
    <header class="header">
        <div class="search-bar">
            <input type="text" placeholder="">
            <i id="search-icon" class="fas fa-search"></i>
        </div>
        <div class="icono-menu">
            <img src="https://cdn.discordapp.com/attachments/759170694910705677/1120484064953110648/open-menu.png" id="icono-menu" alt="Logo de la marca">
        </div>
        <div class="cont-menu active" id="menu">
            <ul>
                <li> Login</li>
                <li> Support</li>
                <li> Contact Us</li>
            </ul>
        </div>
        <nav>
            <ul class="nav-links">
              <button id="icono-back" class="btn-icon">
                <img src="https://cdn.discordapp.com/attachments/759170694910705677/1120491127343173672/back2.png" alt="Logo de la marca">
              </button>
            </ul>
          </nav>
    </header>
    <div class="container">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
    
<div class="logi">
    <h2>Bienvenido otra vez</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="username">Correo:</label>
        <input type="text" id="username" name="username">
        <label for="password">Clave:</label>
        <input type="password" id="password" name="password">
        <label for="remember"></label>
        <input type="checkbox" id="remember" name="remember">Recordar contraseña<br>
        <button type="submit">Login</button>
    </form>
</div>

        <div class="autos">
            <img src="https://cdn.discordapp.com/attachments/759170694910705677/1120484063577387078/auto3.png" alt="autoport">
        </div>
    </div>
    <script>
        const searchBar = document.querySelector('.search-bar input');
        const searchIcon = document.getElementById('search-icon');

        searchBar.addEventListener('input', function () {
            if (searchBar.value === '') {
                searchIcon.style.display = 'block';
            } else {
                searchIcon.style.display = 'none';
            }
        });

        const iconoMenu = document.querySelector('#icono-menu');
        const menu = document.querySelector('#menu');

        iconoMenu.addEventListener('click', (e) => {
            // Alternamos estilos para el menú body
            menu.classList.toggle('active');
            document.body.classList.toggle('opacity');

            // Alternamos su atributo 'src' para que el icono de menú cambie
            const rutaActual = e.target.getAttribute('src');

            if (rutaActual == 'https://cdn.discordapp.com/attachments/759170694910705677/1120484064953110648/open-menu.png') {
                e.target.setAttribute('src', 'https://cdn.discordapp.com/attachments/759170694910705677/1120484065150251058/open-menu2.png');
            } else {
                e.target.setAttribute('src', 'https://cdn.discordapp.com/attachments/759170694910705677/1120484064953110648/open-menu.png');
            }
        });
    </script>
</body>

</html>
